.nav {
  position: relative;
  text-align: center;
  overflow: hidden;
  line-height: 0;
  max-width: 100vw;
}

.nav ul li {
  display: inline-block;
  list-style: none;
}

.dark-nav {
  background: rgba(8, 0, 58, 1);
}

.dropdown ul {
  position: absolute;
  z-index: 20;
}

.dropdown:hover ul {
  display: block;
}
